</head>
<body>
  <nav class="navbar navbar-light bg-dark">
    <i class="fa-solid fa-plane fa-1x"></i>
    <a class="toolbar"
      href="/meals/new"
      <%- title === 'Add meal' ? 'class="active"' : '' %>
    >
      Add Meal
    </a>
    <a class="toolbar"
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
      Add Flight
    </a>
    <a class="toolbar"
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      All Flights
    </a>
  </nav>